<!-- Site header -->
<header class="site-header header-light header-mobile-light">
    <div class="header-brand">
        <!-- Logo -->
        <a class="logo" href="#">
            <img src="assets/images/logo.png" alt="">
        </a>
        <button type="button" id="navigation-toggle" class="nav-toggle">
            <span></span>
        </button>
    </div>
    <div class="header-collapse">
        <div class="header-collapse-inner">
            <nav class="site-nav">
                <ul id="navigation">
                    <li>
                        <a href="#home"><i class="fas fa fa-home mr-2"></i> Home</a>
                    </li>
                    <li>
                        <a href="#lokasi"><i class="fas fa-search-location mr-2"></i> Lokasi</a>
                    </li>
                </ul>
            </nav>
            <a href="https://pa-jakartabarat.go.id" class="btn btn-primary" target="_blank" title="Halaman Website PTA Jakarta"><i class="fas fa fa-home mr-2"></i>Pengadilan Agama Jakarta Barat</a>
        </div>
    </div>
</header>