<main id="content">
    <div class="site-content">
        <div class="site-content-inner">

            <div class="site-part" id="home">
                <section class="min-vh-100 d-flex">
                    <div class="container align-self-center text-white">
                        <div class="row">
                            <div class="col-lg-10 mx-lg-auto text-center">
                                <h3 class="text-white mb-0 animated" data-animation="fadeInUp" style="font-size: 40px; line-height: 45px;"><strong>Selamat Datang Di</strong></h3>
                                <h1 class="text-white mb-0 animated" data-animation="fadeInUp" style="font-size: 50px; line-height: 55px;"><strong>PELAYANAN TERPADU <br/>SATU PINTU (PTSP) ONLINE</strong></h1>
                                <h3 class="text-white mb-0 animated" data-animation="fadeInUp"><strong>PENGADILAN AGAMA AMUNTAI KELAS</strong></h3>

                                <p class="lead text-white mb-3 animated" data-animation="fadeInUp" data-animation-delay="200">Layanan Informasi Secara Online</p>

                                <h5 class="text-white mt-3 mb-0 text-center" style="font-size: 15px; line-height: 15px;"><i class="far fa-user-circle mr-1"></i> Pengunjung [ Hari ini : <b>15</b> | Bulan ini : <b>214</b> | Total : <b>14158</b>]</h5>
                            </div>
                        </div>
                        <div class="mt-3 mb-3 text-center">
                            <span class="mr-2">
                                <a href="https://www.facebook.com/pengadilanagama.jakbar" target="_blank" class="btn btn-lg btn-primary btn-icon rounded-circle mb-2 mr-2">
                                    <i class="fab fa-facebook-f mt-3"></i>
                                </a>
                            </span>
                            <span class="mr-2">
                                <a href="https://www.youtube.com/c/PengadilanAgamaJakartaBarat" target="_blank" class="btn btn-lg btn-danger btn-icon rounded-circle mb-2 mr-2">
                                    <i class="fab fa-youtube mt-3"></i>
                                </a>
                            </span>
                            <span class="mr-2">
                                <a href="https://www.instagram.com/pa_jakartabarat/" target="_blank" class="btn btn-lg btn-secondary btn-icon rounded-circle mb-2 mr-2">
                                    <i class="fab fa-instagram mt-3"></i>
                                </a>
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3 text-center">
                                <img class="shadow img-fluid img-rounded mb-0 animated" data-animation="fadeInUp" data-animation-delay="600" src="assets/images/layanan_telepon.jpg" alt="Layanan Telepon">
                                <div class="feature-block p-3 bg-white text-black animated" data-animation="fadeInUp" data-animation-delay="600">
                                    <h2 class="mb-0"><strong>Voice Call</strong></h2>
                                    <p class="h5 mb-2">Layanan Informasi Melalui Telepon.</p>
                                    <button type="button" layanan="telepon" class="view btn btn-block btn-primary btn-pill mb-0 mr-0">
                                        <i class="fab fas fa-phone-volume mr-1"></i> (021) 1)58352092
                                    </button>
                                </div>
                            </div>

                            <div class="col-12 col-lg-4 mb-3 text-center">
                                <img class="shadow img-fluid img-rounded mb-0 animated" data-animation="fadeInUp" data-animation-delay="600" src="assets/images/layanan_zoom.jpg" alt="Layanan Zoom">
                                <div class="feature-block p-3 bg-white text-black animated" data-animation="fadeInUp" data-animation-delay="600">
                                    <h2 class="mb-0"><strong>Video Call</strong></h2>
                                    <p class="h5 mb-2">Layanan Informasi Melalui ZOOM.</p>
                                    <button type="button" layanan="zoom" class="view btn btn-block btn-primary btn-pill mb-0 mr-0">
                                        <i class="fab fas fa-video mr-1"></i> Buka Aplikasi Zoom
                                    </button>
                                </div>
                            </div>

                            <div class="col-12 col-lg-4 mb-3 text-center">
                                <img class="shadow img-fluid img-rounded mb-0 animated" data-animation="fadeInUp" data-animation-delay="600" src="assets/images/layanan_chat.jpg" alt="Layanan Chat">
                                <div class="feature-block p-3 bg-white text-black animated" data-animation="fadeInUp" data-animation-delay="600">
                                    <h2 class="mb-0"><strong>Online Chat</strong></h2>
                                    <p class="h5 mb-2">Layanan Informasi Melalui Chat.</p>
                                    <button type="button" class="btn btn-block btn-primary btn-pill mb-0 mr-0">
                                        <i class="fab fab fa-facebook-messenger mr-1"></i> Klik Mulai Percakapan/Kirim Pesan
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>

            <div class="site-part" id="lokasi">
                <section class="min-vh-100 d-flex">
                    <div class="container align-self-center text-white">
                        <div class="row mb-3 text-center">
                            <div class="col-12 col-lg-9 mx-lg-auto">
                                <h4 class="mb-0 animated" data-animation="fadeInUp"><strong>LOKASI PENGADILAN AGAMA AMUNTAI KELAS IB</strong></h4>
                                <div class="divider mx-auto bg-white animated mt-1 mb-1" data-animation="fadeInUp" data-animation-delay="200"><span></span></div>
                            </div>
                        </div>
                        <iframe src="https://www.google.com/maps/place/Pengadilan+Agama+Jakarta+Barat/@-6.1850224,106.7530042,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f0c266357451:0xe435ae262abb7bea!8m2!3d-6.1850277!4d106.7551929" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="animated mt-0"></iframe>
                    </div>
                </section>
            </div>

        </div>
    </div>
</main>

<!-- Include Modal Section -->
<div id="modal-placeholder"></div>

<script src="assets/js/loadModal.js"></script>
<script src="assets/js/script.js"></script> <!-- Include the new script.js file -->