# Set environment variables
SetEnv DB_SERVER localhost
SetEnv DB_USERNAME root
SetEnv DB_PASSWORD 
SetEnv DB_NAME your_database_name

# Allow access to index.html
DirectoryIndex index.html

# Enable Rewrite Engine
RewriteEngine On

# Redirect all traffic to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]